.App {
  text-align: center;
}
.wrapper {
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

header {
  width: 100%;
}
h1 {
  background-color: #f38ba0;
  color: #edf6e5;
  margin: 0;
  height: 5vh;
}
header {
  background-color: #b5eaea;
}
imgContainer {
  width: 300px;
  height: 300px;
}

img {
  width: 100%;
}

.intro {
  border: solid 8px #ffbcbccb;
  background-color: #e0f5d0;
  border-radius: 8%;
  margin-bottom: 8%;
  padding: 5%;
}

/* form {
  background-color: #f38ba0;
} */
button {
  background-color: #f38ba0;
  margin: 5% 0;
  height: 65px;
  border-radius: 4%;
}

a {
  text-decoration: none;
  color: #b5eaea;
}
